<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/tablinks/asignacion/asignacion-actividad" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="this.guardarAlumnos()">Añadir</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Agregar Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">Alumnos</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <ion-searchbar placeholder="Alumnos" showCancelButton="focus" cancelButtonText="Cancelar" (ionChange)="onSearchChange($event)" mode="ios"></ion-searchbar>
        
        <ion-list mode="ios" *ngFor="let alumno of this.alumnosPrecarga | filtro:textoBuscar:'title';let i=index" class="ion-padding-end">
         

          <ion-item mode="ios">

            <ion-checkbox color="primary" disabled="{{this.validandoYaIngresado(alumno.rut)}}" checked="{{this.validando(alumno.rut) || this.validandoYaIngresado(alumno.rut)}}" slot="start" value="{{alumno.rut}}"(ionChange)="radioGroupChange($event,alumno.nombreCompleto,alumno.imagen)"></ion-checkbox>
              <ion-avatar slot="start">
                <img [src]=alumno.imagen>
              </ion-avatar>
              <ion-label>
                <h2>{{alumno.nombreCompleto}}</h2>
              </ion-label>
          </ion-item>

        </ion-list>

      </ion-col>

      <ion-col></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
