<ion-header class="ion-no-border" mode="ios" collapse="condense" translucent>
  <ion-toolbar class="backgroundHeader">
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/tablinks/user"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen class="background">

  <ion-grid>

      <ion-row>

        <ion-col></ion-col>

        <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">
          <div class="ion-text-center">
            <ion-avatar class="item-avatar">
                <img src="assets/userIcons/Rana.png">
            </ion-avatar>
          </div>
        </ion-col>

        <ion-col></ion-col>

      </ion-row>
    
  </ion-grid>
        
</ion-content>
