<app-header titulo="Repaso"></app-header>

<ion-content padding fullscreen>

    <ion-grid >
        <ion-row>
  
            <ion-col></ion-col>
  
            <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

                
                <ion-item lines="full" class="background">
                    <h1 style="font-weight: bold">Categorías</h1>
                </ion-item>
             

                <div class="ion-padding-top">
                    <ion-segment value="tarjetas" (ionChange)="vistaCategoria($event)" mode="ios">
                        <ion-segment-button value="tarjetas">
                            <ion-label>Tarjetas</ion-label>
                          </ion-segment-button>
                        <ion-segment-button value="lista">
                          <ion-label>Lista</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                </div>

     
                <div *ngIf="this.categorias && this.vistaCategorias == 'tarjetas'" class="ion-padding-top">
                    <div *ngFor="let categoria of categorias">
                        <ion-card (click)="obtenerTituloCategoria(categoria.categoria)">
                            <ion-card-header>
                            <ion-card-title>{{categoria.categoria}}</ion-card-title>
                            </ion-card-header>
                                <img src="{{categoria.imagen}}">
                        </ion-card>
                    </div>
                </div>

                <div *ngIf="this.categorias && this.vistaCategorias == 'lista' " class="ion-padding-top">
                    <ion-list *ngFor="let categoria of categorias">
                        <ion-item (click)="obtenerTituloCategoria(categoria.categoria)">
                            <ion-thumbnail slot="start">
                                <img src="{{categoria.imagen}}">
                            </ion-thumbnail>
                            <ion-label>{{categoria.categoria}}</ion-label> 
                            </ion-item>
                        </ion-list>
                </div>
        
            </ion-col>

            <ion-col></ion-col>

        </ion-row>
    </ion-grid>
    
</ion-content>
