<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item lines="none">
    <h4>Nombre de la actividad</h4>
  </ion-item>

  <ion-item>
    <h5></h5>
    <ion-label>{{this.tituloActividad}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label (click)="agregarImagen()">Nueva acción</ion-label>
    <ion-icon name="add"></ion-icon>
  </ion-item>
  
  <ion-item lines="none">
    <h4>Acciones</h4>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor=" let categoria of categorias">
      <ion-item detail>
        <ion-thumbnail slot="start">
          <img src="{{categoria.detalle.imageUrl}}">
        </ion-thumbnail>
        <ion-label>
          <h2>Ingles: {{categoria.detalle.nombreIngles}}</h2>
          <p>Español: {{categoria.detalle.nombreEspanol}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminarImagen(categoria)">
          <ion-icon slot="end" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  
  <!-- <ion-list >
    <ion-item *ngFor=" let categoria of categorias">
      <ion-thumbnail slot="start">
        <img src="{{categoria.detalle.imageUrl}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{categoria.detalle.nombreEspanol}}</h3>
        <h3>{{categoria.detalle.nombreIngles}}</h3>
      </ion-label>
    </ion-item>
  </ion-list> -->

</ion-content>
