<ion-header class="ion-no-border" mode="ios" collapse="condense" translucent>
  <ion-toolbar class="backgroundHeader">
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen class="background">

  <ion-grid >

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">   

      <ion-card mode="ios">

        <div class="vertical-center">
            <img [src]="this.imagen">
        </div>

        <ion-card-header>
          <ion-card-subtitle>Dificultad {{this.nivel}}</ion-card-subtitle>
          <ion-card-title>{{this.tituloActividad}}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-no-padding">
          <ion-item>
            <ion-label (click)="agregarAccion()">Nuevo Ítem</ion-label>
            <ion-icon name="add"></ion-icon>
          </ion-item>
        
          <ion-item lines="none" mode="ios" class="ion-padding-top">
            <h2 style="font-weight: bold">Acciones</h2>
          </ion-item>
        
          <ion-list *ngIf="this.data.length" mode="ios">
            <ion-item-sliding *ngFor="let categoria of data, let i = index ">
              <ion-item detail mode="ios">
                <ion-thumbnail slot="start">
                  <img src="{{categoria.imagen}}">
                </ion-thumbnail>
                <ion-label>
                  <h3>Ingles: {{categoria.nombreIngles}}</h3>
                  <h3>Español: {{categoria.nombreEspanol}}</h3>
                </ion-label>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="eliminarImagen(categoria)">
                  <ion-icon slot="end" name="trash"></ion-icon>
                  Eliminar
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          
        </ion-card-content>
      </ion-card>
  
    </ion-col>

    <ion-col></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
