<!-- <div>
  <img class="icon" src="assets/penguin.png" alt="">
</div> -->

<form autocomplete="off" [formGroup]="form" (ngSubmit)="enviarDatos()" novalidate class="ion-margin-top">
  
  <ion-card mode="ios" class="ion-padding-top ion-padding-bottom">

    <ion-list>

      <ion-item class="ion-padding-start ion-padding-end">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input formControlName="email" type="mail"></ion-input>
      </ion-item>
      
      <ion-item *ngIf="emailNoValido" class="ion-padding-start ion-padding-end" lines="none">
        <ion-label color="danger" class="label" *ngIf="form.get('email').hasError('required')">Campo es obligatorio</ion-label>
        <ion-label color="danger" class="label" *ngIf="form.get('email').hasError('pattern')">Correo electronico no valido</ion-label>
      </ion-item>
  
      <ion-item class="ion-padding-start ion-padding-end">
        <ion-label position="floating">Nombre Estudiante</ion-label>
        <ion-input formControlName="nombreEstudiante" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="nombreEstudianteNoValido" class="ion-padding-start ion-padding-end" lines="none">
        <ion-label color="danger" class="label"  *ngIf="form.get('nombreEstudiante').hasError('required')">Campo es obligatorio</ion-label>
        <ion-label color="danger" class="label"  *ngIf="form.get('nombreEstudiante').hasError('nombreEstudiante')">Minimo 6 letras :)</ion-label>
        <ion-label color="danger" class="label"  *ngIf="form.get('nombreEstudiante').hasError('pattern')"> Solo letras de la A - Z</ion-label>
      </ion-item>

      <ion-item class="ion-padding-start ion-padding-end">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="passwordNoValido" class="ion-padding-start ion-padding-end" lines="none">
        <ion-label color="danger" class="label" *ngIf="form.get('password').hasError('required')">Campo es obligatorio</ion-label>
        <ion-label color="danger" class="label" *ngIf="form.get('password').hasError('pattern')">Minimo 6 caracteres</ion-label>
      </ion-item>
  
    </ion-list>

    <div padding class="ion-padding-start ion-padding-end ion-padding-top ion-padding-bottom">
      <ion-button class="button-border" 
                  expand="block"
                  mode="ios"
                  ion-button 
                  block 
                  type="submit" 
                  [disabled]="form.invalid" 
                  >
        Guardar
      </ion-button>        
    </div>

  </ion-card>
  

  

</form>
