<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/tablinks/estadistica"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">Estadística</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">Actividades</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <div *ngIf="this.actividades.length > 0; else elseBlock">
          <ion-list *ngFor="let actividad of this.actividades" class="ion-padding-start ion-padding-end">
            <ion-item (click)="verEstadistica(actividad.actividad)">
              <ion-thumbnail slot="start">
                <img src={{actividad.imagen}}>
              </ion-thumbnail>
              <ion-label>{{actividad.actividad}}</ion-label>
            </ion-item>
          </ion-list>
        </div>

        <ng-template #elseBlock>
          <div class="ion-text-center">
            <img src="../../assets/image/data-not-found.svg" class="dataNotFound">
            <h1 class="ion-text-center" style="font-size:25px;color:grey;">Upsss! Este alumno no presenta actividades realizadas</h1>
          </div>
        </ng-template >

      </ion-col>

    <ion-col></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
