<ion-header collapse="condense" class="ion-no-border" translucent>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>

  <ion-grid >
    
      <ion-row>

          <ion-col></ion-col>

          <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

            <div class="ion-padding-start ion-padding-end">
              <h1 class="text-title">Menú</h1>
              <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            </div>

            <div *ngIf="this.tipoUsuario == 'profesor' || this.tipoUsuario == 'admin'">
              <div *ngFor="let c of componentes | async">
                <ion-card mode="ios" [routerLink]="c.redirectTo">
                  <ion-item lines="none">
                    <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
                    <ion-label>{{c.name}}</ion-label>
                  </ion-item>
                </ion-card>
              </div>

              <ion-card mode="ios" (click)="cerrarSesion()">
                <ion-item lines="none">
                  <ion-icon slot="start" name="log-out" color="danger"></ion-icon>
                  <ion-label>Cerrar Sesión</ion-label>
                </ion-item>
              </ion-card>

            </div>

            <div *ngIf="this.tipoUsuario == 'alumno'">
              <ion-card mode="ios" (click)="cerrarSesion()">
                <ion-item lines="none">
                  <ion-icon slot="start" name="log-out" color="danger"></ion-icon>
                  <ion-label>Cerrar Sesión</ion-label>
                </ion-item>
              </ion-card>
            </div>

            <div *ngIf="!this.tipoUsuario">
            
              <div *ngFor="let item of [1,1,1,1,1,1,1]">
                <ion-card mode="ios">
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                    <ion-skeleton-text animated style="width: 120px; height: 27px" slot="start"></ion-skeleton-text>
                  </ion-item>
                </ion-card>
              </div>

            </div>

            
          </ion-col>

          <ion-col></ion-col>

      </ion-row>

    </ion-grid>
             
</ion-content>
