<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img [src]="imagen">
    <ion-card-header>
      <ion-card-subtitle>Dificultad {{this.nivel}}</ion-card-subtitle>
      <ion-card-title>{{this.tituloActividad}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label (click)="agregarAccion()">Nuevo Ítem</ion-label>
        <ion-icon name="add"></ion-icon>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>Acciones</ion-label>
      </ion-item>
    
      <ion-list *ngIf="data">
        <ion-item-sliding *ngFor="let categoria of data, let i = index ">
          <ion-item detail>
            <ion-thumbnail slot="start">
              <img src="{{categoria.imagen}}">
            </ion-thumbnail>
            <ion-label>
              <h2>Nombre: {{categoria.nombreImagen}}</h2>
              <h2>Frase: {{categoria.fraseIngles}}</h2>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="eliminarImagen(categoria)">
              <ion-icon slot="end" name="trash"></ion-icon>
              Eliminar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-card-content>
  </ion-card>

  
</ion-content>

