<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!this.editarActividad"> 
      <ion-button (click)="guardar()" [disabled]="(this.cantidadItem === 0 )">Guardar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="this.editarActividad"> 
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid >

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">   
  
        <ion-card mode="ios">
          <div class="vertical-center">
            <img [src]="imagen">
          </div> 
          
          <ion-card-header>
            <ion-card-title>{{this.tituloActividad}}</ion-card-title>
            <ion-card-subtitle>Nivel {{this.nivel}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <ion-item class="ion-padding-bottom">
              <ion-label (click)="agregarAccion()">Nuevo Ítem</ion-label>
              <ion-icon name="add"></ion-icon>
            </ion-item>
        
          </ion-card-content>
          
        </ion-card>

        <div *ngIf="this.contenidoActividad == 'Solo imágenes y texto' ">
          <app-lista-solo-texto-imagen></app-lista-solo-texto-imagen>
        </div>
        
        <div *ngIf="this.contenidoActividad == 'Solo imágenes' ">
          <app-lista-solo-imagenes></app-lista-solo-imagenes>
        </div>

        <div *ngIf="this.contenidoActividad == 'Solo texto' ">
          <app-lista-solo-texto></app-lista-solo-texto>
        </div>
        

      </ion-col>

      <ion-col></ion-col>
  
      </ion-row>
  
    </ion-grid>
  
  </ion-content>
  

