<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <!-- <ion-buttons slot="start"> 
      <ion-button (click)="salirSinGuardar()">Cancelar</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons> -->

    <ion-title class="ion-text-capitalize ion-text-center">Nueva Acción</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <ion-grid fixed>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <h4>Nombre de la imagen</h4>
        </ion-item>

        <ion-item>
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <h4>Cargar imagen</h4>
        </ion-item>
        
        <ion-button class="button-white" expand="block" (click)="selectImage()">Buscar imagen</ion-button>

        <ion-img [src]=""></ion-img>

        

      </ion-col>
    </ion-row>
  </ion-grid> -->
<!-- 
  <ion-list>
    <ion-item *ngFor="let item of items | async">
      <ion-thumbnail slot="start" *ngIf="item.imageUrl">
        <img [src]="item.imageUrl" alt="">
      </ion-thumbnail>
      <ion-label>{{ item.title }}</ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="remove(item)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Add New Todo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form class="ion-padding" (submit)="addTodo()">
        <ion-item>
          <ion-label position="stacked">Add New</ion-label>
          <ion-input name="todo" [(ngModel)]="newTodo" placeholder="todo"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <input type="file" name="inputFile" (change)="chooseFile($event)" required>
        </ion-item>
    
        <ion-button type="submit">Add</ion-button>
      </form>
    </ion-card-content>

  </ion-card> -->
</ion-content>
