.botonModal{
    margin: auto;
    text-align: center;
    justify-content: center;
}

.imagen{

    margin: auto;
    text-align: center;
    justify-content: center;
    width: 150px; 
    height: 150px; 
}