<div class="ion-padding-start ion-padding-end">
  <h4>
      Answer the question, choosing the right word. Then, click on “Send” button.
  </h4>
</div>



<ion-card *ngIf="imagenes.length > 0">
  <!-- <form autocomplete="off" [formGroup]="form" (ngSubmit)="enviarDatos()" novalidate class="ion-padding-top"> -->
    <ion-avatar class="avatar">
      <img src="{{this.datos[this.respuesta].detalle.imageUrl}}" />
    </ion-avatar>
    
    <ion-card-content>
      <ion-label>What is this? It is…</ion-label>
      <ion-list>
        <ion-radio-group >      
          <ion-item *ngFor="let dato of datos,let i =  index" (click)="obtenerRespuetaCheckBox(i)">
            <!-- <div>
              <ion-radio slot="start" mode="md" value="op{{i}}" ></ion-radio>
            </div> -->

            <!-- <div *ngIf="this.incorrectas.includes(i) != true"ng-template #elseBlock>    
              <ion-radio mode="md"  value="op{{i}}" *ngIf = "this.incorrectas.includes(i)"  disabled= true></ion-radio>          
           
            </div>
            <ng-template #elseBlock>
              <ion-radio slot="start" mode="md" value="op{{i}}"></ion-radio>
            </ng-template> -->
              
            <ion-radio slot="start" mode="md" value="op{{i}}" *ngIf = "this.incorrectas.includes(i) != true; else mala" ></ion-radio>

            <ng-template #mala >
              <ion-radio mode="md"  value="op{{i}}" disabled= true></ion-radio>
            </ng-template>

            <div class="ion-padding-start">
              <ion-label>{{dato.detalle.fraseIngles}}</ion-label>
            </div>
            
          </ion-item>
    
        </ion-radio-group>
      </ion-list>
      
      <ion-button (click)="enviarDatos()" slot="center">Siguiente</ion-button>
    </ion-card-content>
  <!-- </form> -->
</ion-card>
  <ion-button *ngIf="imagenes.length == 0" class="botonModal" extend="full" (click)="abrirModal()">
    Siguiente
  </ion-button>





