<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize ion-text-center">Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" class="ion-padding">
  
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>    
          <ion-thumbnail>
          <ion-img src="../assets/Congratulations.png"></ion-img>
        </ion-thumbnail>
      </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
     
    <ion-grid>
      <ion-row>
        <ion-col class="centrado">
          <ion-button  color="primary" (click)="menuPrincipal()"> Menú Principal </ion-button>
          <ion-button color="secondary" (click)="reintentar()" routerDirection="forward" > Reintentar </ion-button>       
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>