<form (submit)="enviarDatos()">

  <ion-card>
    <ion-card-title class="ion-text-center">Ingrese la pregunta</ion-card-title>

    <ion-list class="ion-padding-top ion-padding-bottom">
      <ion-radio-group value="biff" mode="md">
        <ion-list-header>
          <ion-label>Items</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-thumbnail>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-thumbnail>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-thumbnail>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

  </ion-card>

</form>