<app-header titulo="Perfil"></app-header>

<ion-content padding fullscreen class="background">

  <ion-grid >

      <ion-row>

        <ion-col></ion-col>

        <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-text-center">
          <ion-avatar class="item-avatar">
              <img src="assets/userIcons/Rana.png">
          </ion-avatar>
          <h2 class="ion-padding-top">{{this.nombre}}</h2>
        </div>

        <div class="ion-text-center ion-padding-top">
          <ion-col class="ion-text-center">
            Actividades
          </ion-col>
      
          <ion-col class="ion-text-center">
            Actividades
          </ion-col>
      
          <ion-col class="ion-text-center">
            Actividades
          </ion-col>
          
          <div class="ion-padding-top">
            <ion-button mode="ios"> Editar Perfil </ion-button>
          </div>
        </div>
        

        </ion-col>
   
        <ion-col></ion-col>

    </ion-row>

  </ion-grid>
    
</ion-content>

