<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">Estadística</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">Estadística</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <!-- <div class="ion-padding">
          <ion-segment value="Alumnos" (ionChange)="vistaCategoria($event)" mode="ios">
              <ion-segment-button value="Alumnos">
                  <ion-label>Alumnos</ion-label>
                </ion-segment-button>
              <ion-segment-button value="Actividad">
                <ion-label>Actividad</ion-label>
              </ion-segment-button>
            </ion-segment>
      </div> -->

      <ion-list *ngFor="let alumno of this.alumnos">
        <ion-item (click)="verEstadistica(alumno.uid)">
          <ion-avatar slot="start">
            <img [src]=alumno.imagen>
          </ion-avatar>
          <ion-label>
            <h2>{{alumno.nombreCompleto}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>

      </ion-col>

      <ion-col></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

