<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">Estadística</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">Alumnos</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <ion-list *ngFor="let alumno of this.alumnos" mode="ios">
          <ion-item (click)="estadisticaPorActividad(alumno.uid)" mode="ios">
            <ion-avatar slot="start" mode="ios">
              <img [src]=alumno.imagen>
            </ion-avatar>
            <ion-label mode="ios">
              <h2>{{alumno.nombreCompleto}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>

      <ion-col></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

