
<ion-grid >

  <ion-row>

    <ion-col></ion-col>

    <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

      <ion-card *ngIf="this.data" mode="ios" class="ion-padding">
        <ion-card-header *ngIf=" this.tipoPregunta == 'Pregunta audio mas texto' ; else soloAudio">
          <tr>
            <td>
              <div>
                <ion-button (click)="hablarPregunta(this.preguntas[this.posicion])">
                  <ion-icon  class="" name="mic-circle-outline"></ion-icon>
                </ion-button>  
              </div>           
            </td>
            <td>
              <ion-card-title class="ion-text-center">
                {{this.preguntas[this.posicion]}}
              </ion-card-title>
            </td>
          </tr>
        </ion-card-header>

        <ng-template #soloAudio>
          <div *ngIf="this.tipoPregunta == 'Pregunta solo audio' ; else soloTexto">
            <ion-button (click)="hablarPregunta(this.preguntas[this.posicion])">
              CLICK TO HEAR THE QUESTION 
              <ion-icon  class="" name="mic-circle-outline"></ion-icon>
            </ion-button>  
          </div>     
        </ng-template>

        <ng-template #soloTexto>
          <div>
            <ion-card-title class="ion-text-center">
              {{this.preguntas[this.posicion]}}
            </ion-card-title>
          </div>     
        </ng-template>

        <ion-card-content *ngIf="this.data" style="margin-top: 5%;">
          <ion-list>
            <ion-radio-group >      
              <ion-item *ngFor="let respuesta of respuestas[this.posicion] ; let i =  index" (click)="obtenerRespuetaCheckBox(i)" mode="ios">
                <ion-radio slot="start" mode="md" disabled="{{this.radioBoolean[i]}}" value="op{{i}}" ></ion-radio>
                <div class="ion-padding-end">
                  <ion-thumbnail style="margin-top: 5%; margin-bottom: 5%;">
                    <img src="{{respuesta}}">
                  </ion-thumbnail>
                </div>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <div class=" ion-padding-top ion-text-end">
            <ion-button (click)="enviarDatos()" slot="center" *ngIf="this.data.length"> Next question </ion-button>
          </div>
        </ion-card-content>
      </ion-card>

    </ion-col>

    <ion-col></ion-col>

  </ion-row>

</ion-grid>
