<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="actividad">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>