<ion-tabs fullscreen>

  <ion-tab-bar slot="bottom" mode="ios" translucent>

    <ion-tab-button tab="actividad" [disabled]=tabStatus.estado>
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="repaso" [disabled]=tabStatus.estado>
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Repaso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user"  [disabled]=tabStatus.estado>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu"  [disabled]=tabStatus.estado>
      <ion-icon name="menu"></ion-icon>
      <ion-label>Otros</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>