.titulos{
    align-content: center;
    text-align: center;
    color: blueviolet;
    size: 24;
}

.centrado{
    align-content: center;
    text-align: center;
    color: blue;
}

.titulo{
    align-content: center;
    text-align: center;
    color: blueviolet;

}