<ion-header class="ion-no-border" mode="ios" collapse="condense" translucent>
  <ion-toolbar class="backgroundHeader">
    <ion-buttons slot="start"> 
      <ion-back-button color="primary" defaultHref="/" text="Atrás">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding fullscreen class="background">

  <ion-grid >

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">
         
        <app-formregistro (onFormGroupChange)="registro($event)"></app-formregistro>
  
      </ion-col>

      <ion-col></ion-col>
  
    </ion-row>
  
  </ion-grid>
  
</ion-content>
  