<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tablinks/alumnos" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Nuevo Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">
      <app-form-registro-alumno (onFormGroupChange)="agregarNuevoAlumno($event)"></app-form-registro-alumno>

      </ion-col>

      <ion-col></ion-col>
  
    </ion-row>
  
  </ion-grid>
  
</ion-content>
