<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/tablinks/editar-actividad/agregar-actividad" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Nuevo Ítem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid >

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12"> 

      <div *ngIf="this.contenidoActividad == 'Solo imágenes' ">
        <app-contenido-solo-imagenes></app-contenido-solo-imagenes>
      </div>

      <div *ngIf="this.contenidoActividad == 'Solo texto' ">
        <app-contenido-solo-texto></app-contenido-solo-texto>
      </div>

      <div *ngIf="this.contenidoActividad == 'Solo imágenes y texto' ">
        <app-contenido-texto-imagen></app-contenido-texto-imagen>
      </div>

      </ion-col>

      <ion-col></ion-col>
  
      </ion-row>
  
    </ion-grid>
  
  </ion-content>
  