<app-header titulo="Actividades"></app-header>

<ion-content fullscreen>

    <ion-grid >

        <ion-row>
  
            <ion-col></ion-col>
  
            <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

                <div class="ion-padding-start ion-padding-end">
                    <h1 style="font-weight: bold">Categorías</h1>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                </div>

                <div class="ion-padding">
                    <ion-segment value="tarjetas" (ionChange)="vistaCategoria($event)" mode="ios">
                        <ion-segment-button value="tarjetas">
                            <ion-label>Tarjetas</ion-label>
                          </ion-segment-button>
                        <ion-segment-button value="lista">
                          <ion-label>Lista</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                </div>

     
                <div *ngIf="this.categorias && this.vistaCategorias == 'tarjetas'">
                    <div *ngFor="let categoria of categorias">
                        <ion-card (click)="obtenerTituloCategoria(categoria.categoria)" mode="ios" class="ion-padding-top ion-padding-bottom card-categoria">
                            <ion-card-header>
                            <ion-card-title>{{categoria.categoria}}</ion-card-title>
                            </ion-card-header>                     
                                <ion-avatar>
                                    <img src="{{categoria.imagen}}">
                                </ion-avatar>                                                                                  
                        </ion-card>
                    </div>
                </div>
                
                <div *ngIf="this.categorias && this.vistaCategorias == 'lista'">
                    <ion-card class="ion-padding-top ion-padding-bottom" mode="ios">
                        <ion-item *ngFor="let categoria of categorias" mode="ios" (click)="obtenerTituloCategoria(categoria.categoria)" detail>
                            <ion-thumbnail slot="start" class="thumbnail">
                                <img src="{{categoria.imagen}}">
                            </ion-thumbnail>
                            <ion-label>{{categoria.categoria}}</ion-label> 
                            </ion-item>
                    </ion-card>
                </div>
        
            </ion-col>

            <ion-col></ion-col>

        </ion-row>
    </ion-grid>
    
</ion-content>

