
ion-avatar{ 
    width: 100%; height: 100%;
    --border-radius: 0px;
} 

ion-avatar img{
    width: 100%;
    height: 100%;
  }
  @supports(object-fit: cover){
      ion-avatar img{
        height: 100%;
        object-fit: fill;
        object-position: center center;
      }
  }