<form autocomplete="off" [formGroup]="form" (ngSubmit)="enviarDatos($event)" novalidate class="ion-margin-top">
  
  <ion-card mode="ios" class="ion-padding-top ion-padding-bottom">

    <ion-list>
      <ion-item class="ion-padding-start ion-padding-end">
        <ion-label position="floating" > Correo electrónico </ion-label>
        <ion-input formControlName="email" type="mail"></ion-input>
      </ion-item>
  
      <ion-item class="ion-padding-start ion-padding-end ion-padding-bottom">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding-start ion-padding-end">
      <ion-button class="button-border"
                  type="submit" 
                  mode="ios"
                  expand="block"
                  [disabled]="form.invalid">
        Entrar
      </ion-button>


      <ion-item class="ion-text-center" lines="none" routerLink="/forgot-password" detail="false">
        <ion-label color="primary">¿Has olvidado la contraseña?</ion-label>
      </ion-item>

      <ion-button routerLink="/register"
                  class="button-border" 
                  mode="ios"
                  expand="block">
      Crear Cuenta
      </ion-button>
    </div>
  </ion-card>
        
</form>
