<ion-content class="ion-content">

  <ion-grid fixed>

    <ion-row>

      <ion-col class="ion-col"></ion-col>

      <ion-col size="6" size-lg="3" size-md="4" size-sm="6" size-xs="12" class="ion-align-self-center">
        
        <div>
          <img class="icon" src="assets/penguin.png" alt="">
        </div>

        <form autocomplete="off" [formGroup]="form" (ngSubmit)="enviarDatos($event)" novalidate class="ion-margin-top">

          <ion-item>
          
            <ion-label position="stacked" > Correo electrónico </ion-label>
            <ion-input formControlName="email" type="mail" placeholder=""></ion-input>

          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder=""></ion-input>
          </ion-item>

          <div class="ion-text-center ion-margin-top ">
            <ion-button class="button-white " 
                        type="submit" 
                        expand="block"
                        mode="ios"
                        [disabled]="form.invalid">
              Entrar
            </ion-button>
          </div>

          <div class="ion-text-center ion-margin-top">
            <a routerLink="/"><small>Olvidé la Contraseña</small></a>
          </div>
          
          <div class="ion-text-center ion-margin-top ">
            <ion-button routerLink="/register" 
                        class="button-white"
                        expand="block"
                        mode="ios">
              Crear Cuenta
            </ion-button>
          </div>
        
        </form>

      </ion-col>

      <ion-col class="ion-col"></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
