.centrado{
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imagen{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;

}

.tarjeta{

    height: auto;
    width: 300px;
}