<!-- <app-header titulo="Editar Repaso"></app-header> -->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="ocultar === '0'"> 
      <ion-menu-button  color="dark" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="ocultar !== '0'"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="ocultar === '2'"> 
      <ion-button (click)="guardar()">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid fixed>

        <ion-row>
          <ion-col>
            <!-- Categorias -->
                      
            <ion-item *ngIf="ocultar === '0'" lines="none">
                <h4>Seleccionar Categoría</h4>
            </ion-item>

            <ion-list *ngIf="ocultar === '0'">
              <ion-item *ngFor=" let categoria of categorias" detail (click)="cambiarEstado('1')">
                <ion-label (click)="obtenerTituloCategoria(categoria.categoria)">{{categoria.categoria}}</ion-label>
              </ion-item>
            </ion-list>


            <!-- Repaso por categoria -->
            <!-- Nuevo Repaso -->
            <ion-item *ngIf="ocultar === '1'" lines="none">
              <h4>Nuevo Repaso</h4>
            </ion-item>

            <ion-item *ngIf="ocultar === '1'">
              <ion-input placeholder="Nombre de la actividad" [value]="tituloActividad" (input)="obtenerTituloActividad($event)"></ion-input>
            </ion-item>

            <ion-button *ngIf="ocultar === '1'"
                          class="button-white"
                          expand="block"
                          mode="ios"
                          (click)="cambiarEstado('2')"
                          [disabled]="!tituloActividad">
                          Agregar
            </ion-button>
            
            <!-- Editar Actividad -->
            <ion-item *ngIf="ocultar === '1'" lines="none">
              <h4>Editar Repaso</h4>
            </ion-item>

            <ion-list *ngIf="ocultar === '1'">
              <ion-item *ngFor=" let categoria of categorias">
                <ion-label>Actividades</ion-label>
                <!-- <ion-label (click)="cambiarEstado(false)">{{categoria.categoria}}</ion-label> -->
              </ion-item>
            </ion-list>

            <!-- op 3 -->

            <ion-item *ngIf="ocultar === '2'" lines="none">
              <h4>Nombre de la actividad</h4>
            </ion-item>
          
            <ion-item *ngIf="ocultar === '2'">
              <h5>{{this.tituloActividad}}</h5>
            </ion-item>
          
            <ion-item *ngIf="ocultar === '2'">
              <ion-label (click)="cambiarEstado('3')">Nueva acción</ion-label>
              <ion-icon name="add"></ion-icon>
            </ion-item>
            
            <ion-item *ngIf="ocultar === '2'" lines="none">
              <h4>Acciones</h4>
            </ion-item>
            
            <ion-list *ngIf="ocultar === '2'">
            <ion-list *ngFor="let a of [1,1,1,1,1,1,1]">
              <ion-item>
                <ion-label>Pokémon Yellow</ion-label>
              </ion-item>
            </ion-list>
          </ion-list>
          
          <!-- 3 cargar imagenes -->

          <ion-list *ngIf="ocultar === '3'">
            <ion-item *ngFor="let item of [1]">
              <ion-thumbnail slot="start">
                <!-- <img [src]="item.imageUrl" alt=""> -->
              </ion-thumbnail>
              <ion-label></ion-label>
              <ion-button slot="end" fill="clear" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        
          <ion-card *ngIf="ocultar === '3'">
            <ion-card-header>
              <ion-card-subtitle>Add New Todo</ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              <form class="ion-padding">
                <ion-item>
                  <ion-label position="stacked">Add New</ion-label>
                  <ion-input name="todo" placeholder="todo"></ion-input>
                </ion-item>
        
                <ion-item lines="none">
                  <input type="file" name="inputFile" required>
                </ion-item>
            
                <ion-button type="submit">Add</ion-button>
              </form>
            </ion-card-content>
        
          </ion-card>


          </ion-col>
        </ion-row>
    
      </ion-grid>

</ion-content>
