<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Cargar Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
           <!-- <ion-list>
              <ion-item *ngFor="let item of [1]">
                <ion-label></ion-label>
                <ion-button slot="end" fill="clear" color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item> -->
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Agregar imagen</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                  <form (submit)="subirArchivo()">
                    <!-- <ion-item> -->
                      <ion-label position="stacked"></ion-label>
                      <ion-input name="todo" [(ngModel)]="tituloEspanol" placeholder="Nombre imagen (Español)"></ion-input>
                    <!-- </ion-item>
                    <ion-item> -->
                      <ion-label position="stacked"></ion-label>
                      <ion-input name="todo" [(ngModel)]="tituloIngles" placeholder="Nombre imagen (Inglés)"></ion-input>
                    <!-- </ion-item> -->
            
                    <!-- <ion-item lines="none"> -->
                      <input type="file" name="inputFile" accept="image/*" (change)="elegirArchivo($event)" required>
                    <!-- </ion-item> -->
                
                    <ion-button type="submit">Cargar</ion-button>
                  </form>
                </ion-card-content>
            
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <!-- <ion-card-subtitle>Agregar imagen</ion-card-subtitle> -->
                  <ion-card-title>Yasuo</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  <img src="../../../../assets/shapes.svg"/>
                  
                </ion-card-content>
              </ion-card>

              
            <!-- </ion-item> -->

            <!-- <ion-item *ngFor="let item of items | async">
              <ion-thumbnail slot="start" *ngIf="item.imageUrl">
                <img [src]="item.imageUrl" alt="">
              </ion-thumbnail>
              <ion-label>{{ item.title }}</ion-label>
              <ion-button slot="end" fill="clear" color="danger" (click)="eliminarArchivo(item)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item> -->
            
          <!-- </ion-list> -->
</ion-content>
