<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <!-- <ion-button (click)="cancelar()">Cancelar</ion-button> -->
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Cargar Imagen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="imageURL">
    <ion-card-header>
      <!-- <ion-card-subtitle>Agregar imagen</ion-card-subtitle> -->
    </ion-card-header>
         
    <ion-card-content>
      <form (submit)="subirArchivo()">
                    <!-- <ion-item> -->
                      <ion-label position="stacked">Nombre imagen (Español)</ion-label>
                      <ion-input name="todo" [(ngModel)]="tituloEspanol" placeholder="Nombre (Español)"></ion-input>
                    <!-- </ion-item>
                    <ion-item> -->
                      <ion-label position="stacked">Nombre imagen (Inglés)</ion-label>
                      <ion-input name="todo" [(ngModel)]="tituloIngles" placeholder="Nombre (Inglés)"></ion-input>
                    <!-- </ion-item> -->
            
                    <!-- <ion-item lines="none"> -->
                      <input type="file" name="inputFile" accept="image/*" (change)="cargarArchivo($event)" required>
                    <!-- </ion-item> -->
                
                    <ion-button type="submit"
                                [disabled]="!imageURL">
                      Cargar
                    </ion-button>
                  </form>
                </ion-card-content>
            
              </ion-card>

</ion-content>
