<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="guardar()" [disabled]="(imageURL === '' || this.tituloActividad ==='' )">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="imageURL">
    <ion-card-header>
      <ion-card-title>Nuevo repaso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Nombre de la actividad</h2>
      <ion-input name="todo" [(ngModel)]="tituloActividad" placeholder="Nombre del repaso"></ion-input>
      <input type="file" name="inputFile" accept="image/*" (change)="cargarArchivo($event)" required>
      <!-- <ion-button type="submit"
                  [disabled]="(imageURL === '' || this.tituloActividad ==='' )">
        Cargar
      </ion-button> -->
      
    </ion-card-content>

  </ion-card>
  
  <ion-item lines="none" *ngIf="actividades.length">
    <h4>Editar Repaso</h4>
  </ion-item>

  <!-- <ion-list *ngFor=" let actividad of actividades">
    <ion-item-sliding detail>
      <ion-label (click)="editarActividad(actividad.imagen.imageUrl,actividad.actividad)">{{actividad.actividad}}</ion-label>
    </ion-item-sliding>
    
  </ion-list> -->

  <ion-list>
    <ion-item-sliding *ngFor=" let actividad of actividades">
      <ion-item detail>
        <ion-thumbnail slot="start">
          <img src="{{actividad.imagen.imageUrl}}">
        </ion-thumbnail>
        <ion-label (click)="editarActividad(actividad.imagen.imageUrl,actividad.actividad)">
          <h2>{{actividad.actividad}}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminarActividad(actividad)">
          <ion-icon slot="end" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
