<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="guardar()" [disabled]="(imageURL === '' || this.tituloActividad ==='' || this.nivel ==='' )">Guardar</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <h3>Nuevo Repaso</h3>
  </ion-item>

  <ion-card>
    <img [src]="imageURL">
    <ion-card-header>
      <!-- <ion-card-subtitle>Nombre Repaso</ion-card-subtitle> -->
      <ion-card-title>Nombre Repaso</ion-card-title>
      <ion-input type="text" autocapitalize name="todo" [(ngModel)]="tituloActividad" placeholder="Nombre"></ion-input>
      <input type="file" name="inputFile" accept="image/*" (change)="cargarArchivo($event)" required>
      
      <ion-list>
        <ion-list-header class="ion-no-padding">
          <ion-label>
            Dificultad
          </ion-label>
        </ion-list-header>
      
        <ion-item class="ion-no-padding" lines="none">
          <ion-label>Nivel</ion-label>
          <ion-select okText="Ok" cancelText="Salir" [(ngModel)]="nivel" (ionChange)="obtenerNivel(nivel)" mode="ios">
            <ion-select-option value="Facíl">Facíl</ion-select-option>
            <ion-select-option value="Medio">Medio</ion-select-option>
            <ion-select-option value="Difícil">Difícil</ion-select-option>
          </ion-select>
        </ion-item>  
      </ion-list>

    </ion-card-header>

  </ion-card>
  

  
  
  <ion-item lines="none" *ngIf="actividades.length">
    <h3>Editar Repaso</h3>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor=" let actividad of actividades">
      <ion-item detail>
        <ion-thumbnail slot="start">
          <img src="{{actividad.imagen.imageUrl}}">
        </ion-thumbnail>
        <ion-label (click)="editarActividad(actividad.imagen.imageUrl,actividad.actividad)">
          <h2>{{actividad.actividad}}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="eliminarActividad(actividad)">
          <ion-icon slot="end" name="trash"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
