<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-button (click)="guardar()" [disabled]="(imageURL === '' || this.tituloActividad ==='' || this.nivel ==='' )">Siguiente</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Editar Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid >

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">    

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">Nuevo Repaso</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <ion-card mode="ios">

          <div class="vertical-center" *ngIf="this.imageURL">
            <img [src]="this.imageURL">
          </div>
          
          <ion-card-header>

            <ion-card-title>{{this.tituloCategoria}}</ion-card-title>

            <ion-list>
              <ion-list-header class="ion-no-padding">
                <ion-label>
                  Nombre del repaso
                </ion-label>
              </ion-list-header>

              <ion-item class="ion-no-padding">
                <ion-input type="text" autocapitalize name="todo" [(ngModel)]="tituloActividad" placeholder="Nombre"></ion-input>
              </ion-item>

            </ion-list>

            <ion-list>
              <ion-list-header class="ion-no-padding">
                <ion-label>
                  Cargar Imagen
                </ion-label>
              </ion-list-header>

              <ion-item class="ion-no-padding">
                <ion-label>Cargar Imagen</ion-label>
                <ion-button (click)="this.seleccionarImagen()">Seleccionar imagen</ion-button>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-list-header class="ion-no-padding">
                <ion-label>
                  Dificultad
                </ion-label>
              </ion-list-header>
            
              <ion-item class="ion-no-padding" lines="none">
                <ion-label>Nivel</ion-label>
                <ion-select okText="Ok" cancelText="Salir" [(ngModel)]="nivel" (ionChange)="obtenerNivel(nivel)" mode="ios">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                </ion-select>
              </ion-item>  
            </ion-list>

          </ion-card-header>

        </ion-card>

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">Editar Repaso</h1>
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        </div>
  
        <ion-card mode="ios" class="ion-padding-top ion-padding-bottom">

          <ion-list>
            <ion-item-sliding *ngFor=" let repaso of this.repasos">
              <ion-item detail (click)="editarActividad(repaso)">
                <ion-thumbnail slot="start" class="thumbnail">
                  <img src="{{repaso.imagen}}">
                </ion-thumbnail>
                <ion-label>
                  <h2>{{repaso.actividad}}</h2>
                  <p>Nivel: {{repaso.nivel}}</p>
                </ion-label>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="eliminarActividad(repaso)">
                  <ion-icon slot="end" name="trash"></ion-icon>
                  Eliminar
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>

    </ion-col>

    <ion-col></ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
