<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/tablinks/estadistica/ver-estadistica"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">Detalle Estadistica </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">{{this.actividad}}</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <ion-card *ngFor="let item of this.estadistica" mode="ios">
          <ion-card-header>
            <ion-list>

              <ion-list-header class="ion-no-padding">
                <ion-label>
                  Alternativas Correctas
                </ion-label>
              </ion-list-header>

              <ion-list>
                <ion-item>
                  Pregunta: {{item.buenas.pregunta[0]}}
                </ion-item>
                <ion-item>
                  Respuesta: {{item.buenas.respuesta[0]}}
                </ion-item>
              </ion-list>

              <ion-list-header class="ion-no-padding">
                <ion-label>
                  Tiempo
                </ion-label>
              </ion-list-header>

                <ion-list>
                  <ion-item>Fecha: {{item.fecha}}</ion-item>
                  <ion-item>Hora de inicio: {{item.hora_inicio}}</ion-item>
                  <ion-item>Hora de termino: {{item.hora_termino}}</ion-item>
                  <ion-item>Duración: {{item.tiempo_total}}</ion-item>
                </ion-list>
            </ion-list>
        </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col></ion-col>
  
      </ion-row>
  
    </ion-grid>
  
  </ion-content>
