<ion-header class="ion-no-border" mode="ios" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/tablinks/estadistica/ver-estadistica"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center">Detalle Estadistica </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col></ion-col>

      <ion-col size="12" size-lg="6" size-md="8" size-sm="10" size-xs="12">

        <div class="ion-padding-start ion-padding-end">
          <h1 class="text-title">{{this.actividad}}</h1>
          <hr style="height:2px;border-width:0;color:red;background-color:red">
        </div>

        <ion-card *ngFor="let item of this.estadistica" mode="ios">
          <ion-card-header>
            <ion-list>

              <div *ngIf="item.buenas.pregunta.length >0">
                <ion-list-header class="ion-no-padding">
                  <ion-label>
                    Alternativas Correctas
                  </ion-label>
                </ion-list-header>
  
                <ion-list *ngFor="let a of item.buenas.pregunta;let i= index">
                  <ion-item lines="none">
                   <b>Pregunta:</b> &nbsp; {{item.buenas.pregunta[i]}}
                  </ion-item>

                  <div *ngIf="item.contenido_actividad == 'Solo imágenes'">
                    <ion-item lines="none">
                       <b>Respuesta:</b>     &nbsp;                 
                      <ion-thumbnail>
                        <img src={{item.buenas.respuesta[i]}}>
                      </ion-thumbnail>
                    </ion-item>
                  </div>

                  <div *ngIf="item.contenido_actividad == 'Solo texto'">
                    <ion-item lines="none">
                      <ion-label>
                        <b>Respuesta:</b> &nbsp; {{item.buenas.respuesta[i]}}
                      </ion-label>
                      </ion-item>
                  </div>
                  <div *ngIf="item.contenido_actividad == 'Solo imágenes y texto'">
                    <ion-item lines="none">
                      <ion-label>
                       <b>Respuesta:</b>  &nbsp; {{item.buenas.respuesta[i]}}
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <b>Imagen: </b> &nbsp;
                      <ion-thumbnail> 
                        <img src= {{item.buenas.imagen[i]}}> 
                      </ion-thumbnail> 
                    </ion-item>
                 
                  </div>
                  
                </ion-list>

              </div>

              <div>
                <ion-list-header class="ion-no-padding">
                  <ion-label>
                    Tiempo
                  </ion-label>
                </ion-list-header>
  
                <ion-list>
                  <ion-item><b> Fecha: </b> &nbsp; {{item.fecha}}</ion-item>
                  <ion-item><b> Hora de inicio: </b> &nbsp; {{item.hora_inicio}}</ion-item>
                  <ion-item><b> Hora de termino: </b> &nbsp; {{item.hora_termino}}</ion-item>
                  <ion-item><b> Duración: </b> &nbsp; {{item.tiempo_total}}</ion-item>
                </ion-list>
              </div>


              <div *ngIf="item.parcial.erroneas.length>0">
                <ion-list-header class="ion-no-padding">
                  <ion-label>
                    Preguntas parcialmente correctas 
                  </ion-label>
                </ion-list-header>

                <ion-list *ngFor="let a of item.parcial.parcialmente_correcto_pregunta; let i= index">           
                    <ion-item lines="none">
              
                       <b>Pregunta: </b>  &nbsp; {{a}}

                    </ion-item>

                    <div *ngIf="item.contenido_actividad == 'Solo imágenes'">
                      <ion-item lines="none">
                        <b>Respuesta:</b>
                        <ion-thumbnail>
                          <img src={{item.parcial.parcialmente_correcto_respuesta[i]}}>
                        </ion-thumbnail>
                      </ion-item>                    
                    </div>

                    <div *ngIf="item.contenido_actividad == 'Solo texto'">
                      <ion-item>
                        <b>Respuesta:  </b> &nbsp; {{item.parcial.parcialmente_correcto_respuesta[i]}}
                      </ion-item>
                    </div>

                    <div *ngIf="item.contenido_actividad == 'Solo imágenes y texto'">
                      
                      <ion-item lines="none">
                        <ion-label>
                         <b>Respuesta:</b>  &nbsp; {{item.parcial.parcialmente_correcto_respuesta[i]}}
                        </ion-label>
                      </ion-item>
                      <ion-item>
                        <b>Imagen: </b> &nbsp;
                        <ion-thumbnail> 
                          <img src= {{item.parcial.parcialmente_correcto_imagen[i]}}> 
                        </ion-thumbnail> 
                      </ion-item>
                    </div>

                </ion-list>
              </div>
              

              

              <div *ngIf="item.parcial.erroneas.length>0">
                <ion-list-header class="ion-no-padding">
                  <ion-label>
                    Alternativas Incorrectas 
                  </ion-label>
                </ion-list-header>
  
                <ion-list *ngFor="let a of item.parcial.erroneas ; let i= index">
                  <div *ngIf="item.contenido_actividad == 'Solo imágenes'">
                    <ion-item lines="none">
                      <ion-label>
                        <b> Pregunta: </b>  {{item.parcial.erroneas[i].pregunta}}
                      </ion-label> 
                    </ion-item>

                    <ion-item>
                       <b>Respuesta:</b> &nbsp;
                      <ion-thumbnail>
                        <img src={{item.parcial.erroneas[i].respuesta}}>
                      </ion-thumbnail>
                    </ion-item>
                  </div>

                  <div *ngIf="item.contenido_actividad == 'Solo texto'">
                    <ion-item lines="none">
                      <b>Pregunta: </b> &nbsp; {{item.parcial.erroneas[i].pregunta}}                     
                    </ion-item>
                  <ion-item>
                    <b>Respuesta:</b> &nbsp; {{item.parcial.erroneas[i].respuesta}}
                  </ion-item >   
                  </div>

                  <div *ngIf="item.contenido_actividad == 'Solo imágenes y texto'">
                    <ion-item lines="none">
                      <b>Pregunta: </b> &nbsp; {{item.parcial.erroneas[i].pregunta}}                     
                    </ion-item>
                  <ion-item lines="none">
                    <b>Respuesta:</b> &nbsp; {{item.parcial.erroneas[i].respuesta}}
                  </ion-item >
                  <ion-item>
                    <b>Imagen:</b> &nbsp;
                    <ion-thumbnail>
                      <img src = {{item.parcial.erroneas[i].imagen}}>
                    </ion-thumbnail> 
                  </ion-item >     
                  </div>

                </ion-list>
              </div>
              
              
            </ion-list>

          </ion-card-header>

        </ion-card>

      </ion-col>

      <ion-col></ion-col>
  
      </ion-row>
  
    </ion-grid>
  
  </ion-content>
