
<form autocomplete="off" [formGroup]="form" (ngSubmit)="enviarDatos($event)" novalidate class="ion-margin-top">

  <ion-card mode="ios" class="ion-padding-top ion-padding-bottom">

    <ion-item class="ion-padding-start ion-padding-end ion-padding-bottom">
      <ion-label position="floating"> Correo electrónico </ion-label>
      <ion-input formControlName="email" type="mail"></ion-input>
    </ion-item>
  
    <div class="ion-padding-start ion-padding-end">
      <ion-button type="submit" 
                  class="button-border" 
                  mode="ios"
                  expand="block"
                  [disabled]="form.invalid">
        Restablecer
      </ion-button>
    </div>

  </ion-card>
  
</form>