
<div>
  <img class="icon" src="assets/penguin.png" alt="">
</div>

<form autocomplete="off" [formGroup]="form" (ngSubmit)="enviarDatos($event)" novalidate class="ion-margin-top">

  <ion-item>
  
    <ion-label position="stacked"> Correo electrónico </ion-label>
    <ion-input formControlName="email" type="mail" placeholder=""></ion-input>

  </ion-item>


  <div class="ion-text-center ion-margin-top ">
    <ion-button class="button-white " 
                type="submit" 
                expand="block"
                mode="ios"
                [disabled]="form.invalid">
      Restablecer
    </ion-button>
  </div>
</form>