<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <!-- <ion-button (click)="cancelar()">Cancelar</ion-button> -->
      <ion-back-button defaultHref="/tablinks/repaso" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" class="ion-text-center">Repaso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding">Repaso</h1>
  <h4 class="ion-padding">Deportes - Sports</h4>

  <ion-list>
    <ion-item lines="none" *ngFor="let actividad of actividades">
      <ion-card>
        <img src="{{actividad.detalle.imageUrl}}">
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
